★ {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(#00ccff, #000000);
  position: relative;
}

.subtitle {
  color: #ff0000;
  font-size: 10;
}